# Layer 0: Shell setup (runs before all other layers)
[layer0]
name = "Shell Setup"
oh_my_zsh_url = "https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh"
powerlevel10k_repo = "https://github.com/romkatv/powerlevel10k.git"

# Layer 1: Sudo configuration
[layer1]
name = "Sudo Configuration"

# Touch ID for standard sudo (recommended)
[layer1.touchid]
enabled = true
pam_file = "/etc/pam.d/sudo"
pam_line = "auth       sufficient     pam_tid.so"
insert_after = "auth       include        sudo_local"

# Custom sudo binary (alternative)
[layer1.custom_sudo]
source_file = "{script_dir}/sudo/sudo.cpp"
target_binary = "{home}/bin/sudo"
compile_command = "clang++ --std=c++14 -O3 {source} -o {target}"
install_commands = [
    "sudo chown root: {target}",
    "sudo chmod +s {target}"
]

# Layer 2: Base system packages
[layer2]
name = "Base System Packages"

# Homebrew taps to add before installing packages
brew_taps = [
    "d12frosted/emacs-plus",
]

# All brew packages (formulae and casks) to install
brew_packages = [
    "arc",
    "awk",
    "base64",
    "basedpyright",
    "bentobox",
    "blackhole-64ch",
    "clang-format",
    "cliclick",
    "clipgrab",
    "cmake",
    "conan",
    "conan@1",
    "contexts",
    "coreutils",
    "cryptomator",
    "dcfldd",
    "dos2unix",
    "drawio",
    "editorconfig",
    "enchant",
    "fd",
    "ffmpeg",
    "font-iosevka-comfy",
    "font-juliamono",
    "font-noto-mono",
    "font-roboto",
    "getsentry/tools/sentry-cli",
    "gh",
    "gimp",
    "git",
    "glslang",
    "gnu-sed",
    "gnu-tar",
    "google-java-format",
    "gopls",
    "gotests",
    "grep",
    "grpcurl",
    "hammerspoon",
    "htop",
    "hunspell",
    "iftop",
    "ilok-license-manager",
    "img2pdf",
    "iperf3",
    "isort",
    "isync",
    "jansson",
    "jdtls",
    "jenv",
    "jq",
    "keepassxc",
    "kubernetes-cli",
    "leiningen",
    "libpaho-mqtt",
    "llvm",
    "lua-language-server",
    "mailspring",
    "make",
    "markdown",
    "menumeters",
    "meson",
    "mosquitto",
    "msgpack-tools",
    "msmtp",
    "mu",
    "nasm",
    "nmap",
    "numpy",
    "nvm",
    "offlineimap",
    "ollama",
    "openjdk",
    "owncloud",
    "packages",
    "pandoc",
    "pdftk-java",
    "pinentry-mac",
    "pipenv",
    "pipx",
    "poppler",
    "protoc-gen-grpc-web",
    "pytest",
    "python-packaging",
    "python@3.14",
    "raycast",
    "reaper",
    "rectangle",
    "ripgrep",
    "rsync",
    "ruff",
    "shellcheck",
    "signal",
    "slack",
    "spotify",
    "texinfo",
    "tor",
    "tor-browser",
    "tree",
    "typescript-language-server",
    "uv",
    "vcpkg",
    "virtualenv",
    "vlc",
    "wezterm",
    "wget",
    "whatsapp",
    "wireshark",
    "wireshark-app",
]

# NPM global packages
npm_packages = [
    "@anthropic-ai/claude-code",
    "@georgesg/arc-cli",
    "@tailwindcss/language-server",
    "@vtsls/language-server",
    "bash-language-server",
    "typescript-language-server",
    "vscode-langservers-extracted",
    "yaml-language-server",
    "yarn",
]

# Python packages
pip_packages = [
    "typing_extensions",
]

# Post-install commands to run after packages are installed
post_install_commands = [
    "git clone https://github.com/microsoft/vcpkg ~/vcpkg",
]

# Layer 3: Emacs installation
[layer3]
name = "Emacs Installation"
formula = "emacs-plus@30"
options = [
    "--with-imagemagick",
    "--with-mailutils",
    "--with-xwidgets",
    "--with-savchenkovaleriy-big-sur-3d-icon",
]

# Post-install commands to run after Emacs is installed
post_install_commands = [
    "brew services start d12frosted/emacs-plus/emacs-plus@30",
    "osascript -e 'tell application \"Finder\" to make alias file to posix file \"/usr/local/Cellar/emacs-plus@30/30.2/Emacs.app\" at posix file \"/Applications\" with properties {name:\"Emacs.app\"}'",
]

# Spelling dictionaries to download
[[layer3.dictionaries]]
filename = "de_DE_frami.aff"
url = "https://github.com/LibreOffice/dictionaries/raw/refs/heads/master/de/de_DE_frami.aff"

[[layer3.dictionaries]]
filename = "de_DE_frami.dic"
url = "https://github.com/LibreOffice/dictionaries/raw/refs/heads/master/de/de_DE_frami.dic"

[[layer3.dictionaries]]
filename = "en_US.aff"
url = "https://github.com/LibreOffice/dictionaries/raw/refs/heads/master/en/en_US.aff"

[[layer3.dictionaries]]
filename = "en_US.dic"
url = "https://github.com/LibreOffice/dictionaries/raw/refs/heads/master/en/en_US.dic"

# Layer 4: Doom Emacs
[layer4]
name = "Doom Emacs"
repo = "https://github.com/doomemacs/doomemacs"
install_path = "{home}/.config/emacs"

# Layer 5: Symlinks and Shell
[layer5]
name = "Symlinks & Java"

# {script_dir} = directory containing setup.py
# {home} = user's home directory
[[layer5.symlinks]]
name = "tools"
source = "{script_dir}"
target = "{home}/bin/tools"

[[layer5.symlinks]]
name = "zsh"
source = "{script_dir}/.zshrc"
target = "{home}/.zshrc"
force = true

[[layer5.symlinks]]
name = "powerlevel10k"
source = "{script_dir}/.p10k.zsh"
target = "{home}/.p10k.zsh"
force = true

[[layer5.symlinks]]
name = "profile"
source = "{home}/.zshrc"
target = "{home}/.profile"
force = true

[[layer5.symlinks]]
name = "clang-format"
source = "{script_dir}/.clang-format"
target = "{home}/.clang-format"

[[layer5.symlinks]]
name = "editorconfig"
source = "{script_dir}/.editorconfig"
target = "{home}/.editorconfig"

# Emacs configuration symlinks (chosen during setup)
[layer5.emacs_symlinks.doom]
name = "doom"
source = "{script_dir}/.doom.d"
target = "{home}/.config/doom"

[layer5.emacs_symlinks.light]
name = "emacs"
source = "{script_dir}/.emacs"
target = "{home}/.emacs"
