#include <stdio.h>
#include <string>
#include <iostream>
#include <math.h>
#include <time.h>
#include <string.h>
#include <fstream>
#include <sstream>
#include <vector>
#include <map>
#include <ext/hash_map>
#include <google/dense_hash_map>

using namespace std;
using namespace __gnu_cxx;
using namespace google;

int main(int argc, char **argv) {
#include "$file$"
}
